{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
 <div class="container py-5"> 
    <h1>Привет, я Артур Топалян</h1>
    <img src="{% static 'img/author1.jpg' %}" width ="1400" height="450">
  <p>
   Привет всем! я живу в городе Москва, мне 30 лет. Пришел к программированию через верстку лендинг сайтов
    и как то стало интересно ок это визуал часть, а что же внутри))Мир меняется очень быстро , особенно этому помогает айти сфера,
    и очень хочется быть частью того что улучшает жизнь каждого из живущего на планете Земля!
   Кроме программирования увлекаюсь спортом(баскетбол, борьба),
   Люблю слушать музыку! и даже делаю её в программе Fl studio. Люблю читать книги, Смотреть хорошее кино.
   Очень рад новым знакомствам, а теперь учитывая что я решил связать свою жизнь с Айти, их будет ох как много!
   <a href = 'https://github.com/ArturTopalyan' a> Моя ссылка на аккаунт в гитхабе!</a>
  </p>

  <h2>Контакты для связи!</h2>
  <p>Телефон: +7 926-487-87-73</p>
  <p>Почта : tobabro@yandex.ru</p>
  <a href ='https://www.instagram.com/@topajhan'a> Мой Instagram </a>
 </div>
{% endblock %}